$bg-red: #FF0000;
$bg-found: gold;
$bg-selected: rgba(0, 0, 0, .25);

.board {
  display: flex;
  flex-wrap: wrap;
  height: 900px;
  margin: 0 auto;
  padding: 1rem;

  &__item {
    width: 33.3333%;
    &:hover {
      background-color: $bg-red;
    }
  }

  .found {
    background-color: $bg-found;
    pointer-events: none;
  }

  .selected {
    background-color: $bg-selected;
    pointer-events: none;
  }

  .hide {
    display: none;
  }
}
