$item-height: 300px;
$bg-found: gold;
$bg-selected: rgba(0, 0, 0, .25);

.board {
  background: url(images/table.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;

  &__item {
    height: $item-height;
    width: 33.3333%;
    &:hover {
      cursor: pointer;
    }
  }

  .bg-red {
    background: url(images/red.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bg-blue {
    background: url(images/blue.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  section {
    display: inline-block;
  }

  .found {
    background-color: $bg-found;
    pointer-events: none;
  }

  .selected {
    background-color: $bg-selected;
    pointer-events: none;
  }

  .hide {
    display: none;
  }
}
